frontend/node_modules/
frontend/.DS_Store
frontend/*.log
frontend/haters/
frontend/.next/
frontend/.build/
frontend/layout.md
frontend/variables.env
backend/node_modules/
backend/.DS_Store
backend/*.log
backend/haters/
backend/.next/
backend/.build/
backend/layout.md
backend/variables.env
